body {
    margin: 0;
    padding: 0;
    border: 0;
    background: whitesmoke;
}

h1 {
    text-align: center;
}

.form {
    text-align: center;
    background-color: white;
    height: 140px;
    width: 450px;
    border-radius: 20px;
    margin: 20px auto 20px auto;
    display: block;
    border: solid 1px #289df6;
}

.form input {
    padding: 0.5em;
    margin: 0.5em;
    border: solid 1px #289df6;
}

.form button{
    padding: 0.5em;
    margin: 0.5em;
    border: solid 1px #289df6;
}

